body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 20px;
    color: #B22222;
    text-align: center;
}
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover {
    background-color: #a11d1d;
}
.button-secondary {
    width: 100px;
    margin-top: 20px;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}