body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 450px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    color: #ED1C24;
    text-align: center;
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.button {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-back {
    background-color: #B22222;
}
.button-register {
    background-color: #ED1C24;
}